@font-face {

    font-family: 'fontawesomeregular';
    src: url('police_fontawesomeregular/fontawesome-webfont-webfont.woff2') format('woff2'),
         url('police_fontawesomeregular/fontawesome-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/************************************************************* Eléments principaux de la page***************************************************************************/

body{

    font-family: 'fontawesomeregular', 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

h1{
    text-align: center;
    font-size: 2.5em;
}

i + p{

    text-align: center;
}

p{

    color: #808080;
    font-size: 1em;
    text-align: justify;
}
            
.description
{
    text-align: center;
}

 /*Couleur des points sous les titres */
.cercle{
     width: 0.7em;
     height: 0.7em;
     background: rgb(86, 156, 214);
     border-radius: 50%; /* Permet de donner une forme arrondi */     
     margin-right: auto;
     margin-left: auto;
     border: 4px solid white;
     z-index: 2;
     position: relative;
     
}

.cercle + hr{
    width: 10em;
    color: #F5F5F5;
    z-index: 1;
    position: relative;
    top: -18px;
}


.espacetitre
{
  padding-top: 0;
}


 /*Ligne de changement de thématique <hr />*/

.separation{
    width: 70%;
    color: #F0F0F0;
    margin-top: 5%;
}


/******************************************************************************************** En-tête page ******************************************************************************/
header{

    display: flex;
    justify-content: space-around; /* les éléments sont séparés avec de l'espace entre eux */
    position: fixed;
    z-index: 4;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 5em;
}


#logo{

    height: 3.5em;
    width: 15em;
    margin-top: 2em;
}

.first_ul ul{

    list-style-type: none;
    display: flex;
}

.first_ul li{
    
    margin-right: 1em;
    text-decoration: none;
    border-top: 3px solid transparent
}

.first_ul li:hover 

{
    color: rgb(86, 156, 214);
    border-top: 3px solid rgb(86, 156, 214);
}

a{
    text-decoration: none;
    color: #808080;
    font-size: 1em;
}


 /* Carrousel */
#slider 
{ 
    position: relative; 
    max-width: 100%; 
    overflow: hidden;
    margin-top: 7em;
}

#slider figure 
{
  position: relative; 
  width: 200%;
  margin:   0;
  padding: 0;
  font-size: 0; /*aspire l’air autout de l’élément figure en retirant tout espace entre les images */
  text-align: left; /* là en raison d’un bug de Safari  pour Windows */
  animation: 30s slidy infinite;
}

#slider figure img 
{ 
    width: 50%; /*Pour répartir les images de manière régulière / ici 2 images (100 / 2 = 50) */
    height: auto; 
    float: left; /*float: left sert à corriger un bug de Win Safari */
}

@keyframes slidy 
{
  0% { left: 0%; }
  25% { left: 0%; }
  50% { left: -100%; }   /*Chaque image du carrousel sera affichée dans la div pour 25% de la durée totale de l’animation, le temps de déplacement étant de 25%*/
  75% { left: -100%; }
  100% { left: -0%; }
}

/* Animation de la ligne de temps*/

#animation {
    position: absolute;
    background: rgb(86, 156, 214);
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 0;
    /* fonction de l'animation */
    animation: animation 15s infinite;
    
}

@keyframes animation {
    from {
    margin-right: 100%;   /* From Indique le point de départ de l'animation */
    width: 0%; 
    }

    to {
    margin-right: 0%;     /* To Indique la fin de l'animation */
    width: 100%; 
   }
}


/* Flèches de contrôle carrousel */

/*Flèche gauche*/
#slideshow .commands {
    position: absolute;
    font-size: 1em;
    color: white;
    text-decoration:none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    margin-top: 18em;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*Flècge droite*/
#slideshow .command {
    position: absolute;
    font-size: 1em;
    color: white;
    text-decoration:none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    margin-top: 18em;
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Déplacement horizontal des flèches*/
#slideshow .prev { left: -30px; }
#slideshow .next { right: -30px; }

 
/* Phrases de déscription dans le carrousel */
#description_image
{
    position: absolute;
    width: 45%;
    top: 9em;
    left: 9em;
    color: white;
}

#blue
{
    color: rgb(86, 156, 214);
}

#titre
{
    text-align: left;
}

#p1
{
    color: white;
    text-align: left;
    margin-bottom: 1.87em;
}

#infos
{
    text-decoration: none;
    color: white;
    background-color: rgb(86, 156, 214);
    border: 10px solid rgb(86, 156, 214);
    border-radius: 2px;
    box-shadow: 0px 4px 1px rgb(61, 130, 186);
}


/***************************************************************************************** Services ***********************************************************************************/
#services
{
    margin-top: 4em;
    padding-top: 3em;
}

#section1
{
    display: flex;
}


#photo_mac /*Photo du MAC */
{
    height: 21em;
    width: 35em;
    margin-top: 5em;
    padding-left: 5em;
}

#column{
    flex-direction: column;
    padding-top: 4em;
    padding-left: 15em;
}

strong{
    color: black;
}


/* Icone services */
.iconetext
{
    position: relative;
    left: -5em;
    bottom: -6em; 
}


.icone2 .circle {      
  
  border: 4px solid white;
  width: 11px;
  height: 11px;
  border-radius: 50%;  /*Le border et le border-radius permettent de créer un cercle autour des icônes */
  position: relative;
  left: 50px;
  bottom: 40px;
  font-size: 0.7em;
  color: rgb(86, 156, 214); 
}

.icone1 .fas{
  border: 1px solid #D1D1D1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 15px;
  padding-left: 16px;
  font-size: 1.4em;
  color: rgb(86, 156, 214); 
}


 /********************************************************************************* Nos projets *******************************************************************************************/
#section_2
{
    margin-top: 6.25em;
    background-color: #EBEFF7;
}

#portfolio{
  padding-top: 3em;
}

/* Images des différents projets */

.containerimg {
  position: relative;
  width: 15em;
  margin-top: 2.18em;
  padding-right: 5em;
  margin-right: 3em;
}

img {
  width: 20em;
  height: 14em;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  opacity: 0;
  transition: .5s linear; /*Effet sur la transition du hover qui apparait */
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 0.2em;
  padding-bottom: 1em;
}

.containerimg:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  transform: translate(5%, -20%); /*transform permet de modifier l'espace de coordonnées utilisé pour la mise en forme visuelle*/
}

#ensembleimages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.far{
    position: absolute;
    color: white;
    border: 2px solid #D1D1D1;
    font-size: 1.4em;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 1.4em;
    background-color: rgb(86, 156, 214);
    bottom: 2.5em;
    left: 13em;
}

.strong2{
    color: white;
}

strong 
{
    color: black;
    font-size: 1em;
}

#a_projets{
    display: flex;
    justify-content: center;

}

#a_projets ul li{
    background-color: #CAD9DE;
    padding: 3px;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    border: 5px solid transparent;
    position: relative;
}

#a_projets a
{
    text-decoration: none;

}

#a_projets li:hover{
    border: 5px solid rgb(86, 156, 214);
    border-radius: 2px;
    border-bottom: 3px solid #3077B3;
    background-color: rgb(86, 156, 214);

}

#a_projets a:hover{
    color: white;
}

#a_projets li:hover .triangledown{
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 10px solid #3077B3;

}

#a_projets ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.triangledown{ /* Triangle crée avec des effets de transparences pour lui donner forme */
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    top: 100%;
    right: 42%;

}


 /************************************************************************************** Contact *******************************************************************************************/

#section_3
{
    margin-top: 6.25em;
    margin-bottom: 6.25em;
    position: relative;
    overflow: hidden;
}

#contactermoi
{
    position: absolute;
    right: 8em;
    top: 3.5em;
    background-color: rgba(258, 258, 258, 0.7);
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: left;
    z-index: 3;
}

#envoi_mess
{
    color: white;
    background-color: rgb(86, 156, 214);
    border: 6px solid rgb(86, 156, 214);
    border-radius: 2px;
    box-shadow: 0px 4px 1px rgb(61, 130, 186);
}

input
{
    margin-bottom: 1em;
    width: 100%;
}

#contact
{
    text-align: left;
}

#contact + p
{
    text-align: left;
}

textarea
{
    width: 100%;
    height: 10em;
}


form

{
    width: 15em;
}


/* Carte */

iframe{
    width: 100%;
    height: 40em;
    border-width: 0; /*Pour enlever la border sombre autour de la carte */

}

#colors
{
    background-color: rgba(89, 162,186, 0.3);
    height: 40em;
    z-index: 2;
    width: 100%;
    position: absolute;
}
